{% extends 'base.html' %}
 {% block content %}
<!-- Add button -->
<h3><center>{{tabletitle}}</center></h3>

<div class="col-md-2">
  <a
    href="add_photos"
    type="button"
    class="btn btn-primary btn-sm my-3"
    data-mdb-ripple-color="#ffffff"
    style="background-color: #b70b0b"
  >
    ADD PHOTO <i class="fas fa-add ms-1"></i>
  </a>
</div>

<table  class="table table-striped" style="width:100%;">
  <thead>
    <tr>
      <th>Observations</th>
      <th>Description</th>
      <th>Photo</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for x in photo %}
    <tr>
      <td>{{ x.ph_obs }}</td>
      <td>{{ x.ph_desc }}</td>
      <td>
        <img
          class="img-fluid"
          src="https://lfj.s3.amazonaws.com/{{ x.ph_link }}"
          style="max-height: 300px"
        />
      </td>
      <td><a href="update_photo/{{x.ph_key}}"> <i class="fa fa-edit" aria-hidden="true"></i></a></td>
     <td><a href="delete_photo/{{x.ph_key}}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>

    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
