

<style>
 
  header{
    height: 10vh;
  }
  .box {
    height:80vh;

  }

  footer{
    height:10vh;
  }
  .container{
    page-break-inside: avoid;
  }
</style>
<body>
<div class="container">
  <div class="box">
  <header class="mt-3">
    <div class="hstack gap-3" id="header-img-container">
      <div>
        {% load static %}
        <a href="{% url 'home' %}">
          <img
            src="https://lfj.s3.amazonaws.com/img/jennings.png"
            alt=""
            style="max-height: 75px"
            class="img-fluid"
          />
        </a>
      </div>
      <div><h3>L.F. Jennings</h3></div>
    </div>
    <div id="line"></div>
  </header>
  
{% block content %}
<!-- {% include 'header.html' %} -->
<h3><center>{{tabletitle }}</center></h3>
<div class="container">
  <div class="box">
    <p>{{date}}</p>
    <p>To: {{rep_ws_to}}</p>
    <p>From: {{emp_name}}</p>
    <p>
      This report is a follow up to the safety inspection completed on {{date}}.
      The purpose of the inspection was to identify potential safety hazards
      and/or OSHA violations. Attached is a list of observations and
      recommendations based on the conditions present at the time of my visit.
      Please review the report and verify that all potential hazards are
      corrected. If you have any questions or require additional information
      after reviewing this report, please don't hesitate to contact me.
    </p>
    <p>Sincerely,</p>

    <p>
      {{emp_name}}<br />
      LF Jennings, Inc. <br />Safety Department
      <br />{{emp_phone}}<br />{{emp_email}}
    </p>
  </div>
</div>
  <footer>
    <div class="card-footer text-muted"></div>
  </footer>
<div style="page-break-after: always"></div>
  {% for x in get_photo %}
  {% if x.ph_link2 != None %}

<div class="box">

  <header class="mt-3">
    <div class="hstack gap-3" id="header-img-container">
      <div>
   
        <a href="">
          <img
            src="https://lfj.s3.amazonaws.com/img/jennings.png"
            alt=""
            style="max-height: 75px"
            class="img-fluid"
          />
        </a>
      </div>
      <div><h3>L.F. Jennings</h3></div>
    </div>
    <div id="line"></div>
  </header>

  <div class="box">
    <div class="container text-center">
      <div class="row">
        <div class="col mt-4">
          <strong>
            <p id="shaded">Observation</p>
          </strong>
          <p>{{x.ph_obs}}</p>
          <p>{{x.ph_desc}}</p>
          <a href=""
            ><img
              class="img-fluid"
              src="https://lfj.s3.amazonaws.com/{{x.ph_link}}"
              id="resize"
              style="height: 300px"
          /></a>
          <a href=""
            ><img
              class="img-fluid"
              src="https://lfj.s3.amazonaws.com/{{x.ph_link2}}"
              id="resize"
              style="height: 300px"
          /></a>
        </div>
      </div>
    </div>
  </div>
  
</div>
  <footer>
    <div class="card-footer text-muted"></div>
  </footer>

  {% else %}
  <div class="box">
  <header class="mt-3">
    <div class="hstack gap-3" id="header-img-container">
      <div>
        {% load static %}
        <a href="{% url 'home' %}">
          <img
            src="https://lfj.s3.amazonaws.com/img/jennings.png"
            alt=""
            style="max-height: 75px"
            class="img-fluid"
          />
        </a>
      </div>
      <div><h3>L.F. Jennings</h3></div>
    </div>
    <div id="line"></div>
  </header>
  <div class="box">
    <div class="container text-center">
      <div class="row">
        <div class="col mt-4">
          <strong>
            <p id="shaded">Observation</p>
          </strong>
          <p>{{x.ph_obs}}</p>
          <p>{{x.ph_desc}}</p>
          <a href=""
            ><img
              class="img-fluid"
              src="https://lfj.s3.amazonaws.com/{{x.ph_link}}"
              id="resize"
              style="height: 300px"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
  <footer>
    <div class="card-footer text-muted"></div>
  </footer>
  

  {% endif %} {% endfor %} {% endblock content %}
</div>
