{% include 'head.html' %}
{% include 'header.html' %}
{% block content %}
<form action="" method="get" style="display: flex;" id="myForm1">
  {% csrf_token %}
  <div style="width: 50%; margin-right: 10px;">
    <select class="form-control" id="membersSelect" name="rep_fk_emp_key_sup" size="4" multiple="multiple"
      style="width: 100%">
      {% for x in emails %}
      <option value="{{x.emp_email}}">{{x.emp_name}}</option>
      {% endfor %}
    </select>
    <!-- <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
      Add member <i class="fa-solid fa-circle-xmark"></i>
    </button> -->
  </div>

  <div style="width: 50%; margin-left: 10px;">
    <select class="form-control" id="groupsSelect" name="groups_field" size="4" multiple="multiple" style="width: 100%">
      {% for x in groups %}
      <option value="{{x}}">{{x}}</option>
      {% endfor %}
    </select>
    <!-- <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" onclick="redirect();">
      Choose group <i class="fa-solid fa-paper-plane"></i>
    </button> -->
  </div>

  <input class="btn btn-secondary" type="submit" value="Submit">
</form>

 

<script>
  function clearForm() {
    document.getElementById("myForm1").reset();
    document.getElementById("myForm2").reset();
    document.getElementById("showNamesTable").innerHTML = ""; // Clear show_names table
    document.getElementById("showSingleNameTable").innerHTML = ""; // Clear show_single_name table

    // Clear rep_fk_emp_key_sup value
    document.querySelector("[name='rep_fk_emp_key_sup']").value = "";

    // Clear show_group_names value
    document.querySelector("[name='show_group_names']").value = "";
  }
</script>




<br>
<br>
<table id="showNamesTable">
  {% for x in show_names %}
  <tr>
    <td>{{x}}</td>
  </tr>
  {% endfor %}
</table>
<table id="showSingleNameTable">
  {% for x in show_single_name %}
  <tr>
    <td>{{x}}</td>
  </tr>
  {% endfor %}
</table>
<br>
<br>
<br>
<br>
<br>





{% if show_group_names %}
<form action="" method="post" id="myForm2">
  {% csrf_token %}
  <input type="hidden" name="groups_field" value="{{ show_group_names }}">
  <button type="submit" class="btn btn-secondary">
    Send <i class="fa-solid fa-paper-plane"></i>
  </button>
 
</form>
{% else %}
<form action="" method="post">
  {% csrf_token %}
  <input type="hidden" name="rep_fk_emp_key_sup" value="{{ rep_fk_emp_key_sup }}">
  <button type="submit" class="btn btn-secondary">
    Send <i class="fa-solid fa-paper-plane"></i>
  </button>
 
{% endif %}

 
</form>

<button class="btn btn-secondary" onclick="redirectToPDF('{{ rep_key }}')">
  Clear <i class="fa-solid fa-circle-xmark"></i>
</button>




<script>
  function redirectToPDF(repKey) {
    var url = "{% url 'render_pdf_view_standalone' rep_key %}";
    window.location.href = url;
  }
</script>
<script>
  function clearForm() {
    document.getElementById("myForm1").reset();
    document.getElementById("myForm2").reset();
    document.getElementById("rep_fk_emp_key_sup").reset(); // Clear show_names table
    document.getElementById("show_group_names").reset(); // Clear show_single_name table

  }
</script>




{% endblock %}